body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: yellow;
}

.container {
    width: 80%;
    margin: 20px auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.text-box {
    padding: 10px;
    color: black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.text-box.white-text {
    color: white;
}